#tei-wrapper{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

#mapBox-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
}

#mapBox {
  height: 180px;
  width: 80%;
  margin: auto;
  position: absolute;
}
